.logo{
  width: 2.5rem;
}

.body{
    padding: 4rem;
}

.main.center-body{
  text-align: center;
  padding-top: 2rem;
}

.easynps_description{
  margin-inline: auto;
  padding: 1rem;
  max-width: 20rem;
}

.button.center-body{
  text-align: center;
  padding-block: 2rem;
}

.button.center-body .learnMore{
  text-align: center;
  background-color: #4bbdff;
  border: 0px;
  border-radius: 5px;
  padding: 0.5rem;
  padding-inline: 1rem;
  color: white;
}

.button.center-body .learnMore:hover{
  background-color: #82d2ff;
}

.container_image_description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container_image_description.reverse{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.image-container{
  overflow: hidden;
}

.image-container img{
  position: relative;
  width: 50vw;
  max-width: 20rem;
}

.second{
  padding: 2rem;
  text-align: center;
  max-width: 20rem;
}

.banner-home{
    background-image: linear-gradient(#ffffff, #f0f0f0);
    padding: 1rem;
}


